@use './partials/variables' as *;

$fa-font-path: "../fonts/webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,700;1,800;1,900&display=swap');

// ***** GENERAL ******

body{
    font-family: $primary-font;
}
.logo-wrapper {
    height: 70px;
    img{
        height: 100%;
    }
}
.active{
    color: $color-tertiary !important;
}
nav.navbar{
    background-color: $color-primary !important;
    .nav-item{
        font-size: 1.2em;
        a{
            font-weight: bold;
            color: $color-black;
            &:hover{
                color: $color-tertiary;
            }

        }
    }
    .dropdown-menu{
        background-color: $color-tertiary;
        a{
        color: $color-white;
        &:hover{
            color: $color-tertiary;
        }

        }
    }
}

a{
    // text-decoration: none;
    color: $color-tertiary;
    font-weight: 600;
    &:hover{
        color: $color-primary;
    }
}

.btn-trash{
    background-color: $color-secondary;
    color: $color-white;
    &:hover{
    background-color: $color-secondary-hover;
    color: $color-white;
    }
}

.btn-edit{
    background-color: $color-tertiary;
    color: $color-white;
    &:hover{
    background-color: $color-tertiary-hover;
    color: $color-white;
    }
}

.btn-restore{
    background-color: $color-primary;
    color: $color-white;
    &:hover{
    background-color: $color-primary-hover;
    color: $color-white;
    }
}


.table-card .card-header{
    background-color: $color-tertiary !important;
}

// ****** MENU PAGE *******

#restaurant-cover{
    height: 400px;
    overflow: hidden;
    position: relative;
    img{
        object-fit: cover;
        width: 100%;
        object-position: center;
    }
    .card{
        border: 3px solid $color-primary;
        position: absolute;
        left:50%;
        bottom: 30px;
        transform: translate(-50%, 0);
        width: 40%;
        z-index: 100;
    }
}
